/* weather widget css */
html, body {
	width:100%;
	overflow-x:hidden;
}
#page {
	margin-left:auto;
	margin-right:auto;
	width:100%;
}
#page.he {
	text-align:right;
}
#page.he input[type="text"],
#page.he input[type="datetime-local"],
#page.he select,
#page.he span {
	text-align:right;
}
#page.he .origin-icon,
#page.he .destination-icon {
	left:2px;
}
#page.he #direction-fields,
#page.he #direction-switcher {
	float:right;
}
html, body {
	height:100%;
}
#map-canvas {
	width:100%;
	min-height:1200px;
}
#result {
	background-color: #fff;
	opacity:0.8;
}
.rows {
	background:#eee;
	border-bottom:1px soli #000;
}
#route-planner {
	height:500px;
}
#message p {
	margin:0;
}
#reverse-menu {
	list-style:none;
	padding:0;
	margin:0;
	text-align:center;
}
#reverse-menu a:hover {
	text-decoration:none;
}
#controls {
	background-color:#fff;
}
.steps {
	padding-bottom:10px;
	cursor:pointer;
}
fieldset legend {
	cursor:pointer;
	font-size:12px;
	padding-top:10px;
	padding-bottom:10px;
}
fieldset legend.last {
	border-bottom:0 !important;
}
#routes-results {
	
}
h3 {
	margin:0;
}
#transit-vehicles label {
	cursor:pointer;
	margin:0 5px;
}
#transit-vehicles .transit-options.chosen {
	background-color:blue;
}
#transit-vehicles input[type="checkbox"] {
	cursor:pointer;
}
legend {
	margin-bottom:0px !important;
}
fieldset.active legend {
	color:red;
}
#results-body {
	
}
.ps-item {
	cursor:pointer;
	padding:8px;
}
.ps-item:hover {
	background-color:#eee;
}
.origin-icon, .destination-icon {
	width:30px;
	float:left;
	top:5px !important;
}
#origin.form-control, #destination.form-control {
	height:40px;
	text-indent:20px;
}
#travelmode-control .btn-group {
	width:100%;
}
#departure {
	height:40px;
}
.view-content {
	height:500px;
	overflow-y:scroll;
}
.summary-label {
	border-bottom:1px dotted #333;
}
#find-route:after {
	position:absolute;
	top:0;
	right:0;
	content:"";
	background-image:url(../img/search.png);
	width:20px;
	display:block;
}
.duration-distance {
	
}
.duration-distance li {
	display:inline;
	padding-left:5px;
	padding-right:5px;
}
.duration-distance li.first {
	border-right:1px solid #ccc;
}
#page.he .steps span {
	display:block;
	direction:rtl;
	text-align:right;
}
#page.he .recent-list {
	text-align:right;
	direction:rtl;
}
#page .panel-body ul {
	padding:0;
}

/* responsive here */
@media only screen and (min-width: 300px) and (max-width: 480px) {
	#controls, #routes-results {
		width:97.5%;
	}
	#routes-results.mr10 {
		margin-right:5px;
	}
}