.responsive-image {
  width:100%;
  height:auto;
  max-width:100%;
}
.responsive-image-wrapper img {
  width:100%;
  max-width:100%;
  height:auto;
}
.responsive-video {
  position:relative;
  overflow:hidden;
}
.responsive-video iframe, .responsive-video embed, .responsive-video object {
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
}
.border, .bordert, .borderb, .borderl, .borderr {
  border:3px solid #87c201;
}
.rows {
  float:left;
  width:100%;
  display:block;
  margin-bottom:20px;
  padding-bottom:20px;
}
.flw100 {
  float:left;
  width:100%;
}
.flw95 {
  float:left;
  width:95%;
}
.flw80 {
  float:left;
  width:80%;
}
.flw32 {
  float:left;
  width:32%;
}
.flw30 {
  float:left;
  width:30%;
}
.flw5 {
  float:left;
  width:5%;
}
.flw10 {
  float:left;
  width:10%;
}
.flw20 {
  float:left;
  width:20%;
}
.flw15 {
  float:left;
  width:15%;
}
.flw25 {
  float:left;
  width:25%;
}
.flw40 {
  float:left;
  width:40%;
}
.flw50 {
  float:left;
  width:50%;
}
.flw45 {
  float:left;
  width:45%;
}
.flw60 {
  float:left;
  width:60%;
}
.flw70 {
  float:left;
  width:70%;
}
.flw75 {
  float:left;
  width:75%;
}
.frw100 {
  float:right;
  width:100%;
}
.frw95 {
  float:right;
  width:95%;
}
.frw32 {
  float:right;
  width:32%;
}
.frw30 {
  float:right;
  width:30%;
}
.frw5 {
  float:right;
  width:5%;
}
.frw10 {
  float:right;
  width:10%;
}
.frw20 {
  float:right;
  width:20%;
}
.frw15 {
  float:right;
  width:15%;
}
.frw25 {
  float:right;
   width:25%;
}
.frw50 {
  float:right;
  width:50%;
}
.frw40 {
  float:right;
  width:40%;
}
.frw45 {
  float:right;
  width:45%;
}
.frw60 {
  float:right;
  width:60%;
}
.frw70 {
  float:right;
  width:70%;
}
.frw75 {
  float:right;
  width:75%;
}
.l {
  float:left;
}
.r {
  float:right;
}
.dblock {
  display:block;
}
.iblock {
  display:inline-block;
}
.rounded {
  border-radius:5px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -o-border-radius:5px;
  overflow:hidden;
}
.rounded10 {
  border-radius:10px;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  -o-border-radius:10px;
  overflow:hidden;
}
.rounded15 {
  border-radius:15px;
  -webkit-border-radius:15px;
  -moz-border-radius:15px;
  -o-border-radius:15px;
  overflow:hidden;
}
.roundedt {
  border-radius:5px 5px 0px 0px;
  -webkit-border-radius:5px 5px 0px 0px;
  -moz-border-radius:5px 5px 0px 0px;
  -o-border-radius:15px;
  overflow:hidden;
}
.roundedb {
  border-radius:0px 0px 5px 5px;
  -webkit-border-radius:0px 0px 5px 5px;
  -moz-border-radius:0px 0px 5px 5px;
  -o-border-radius:0px 0px 5px 5px;
  overflow:hidden;
}
.roundedr {
  border-radius:0px 5px 5px 0px;
  -webkit-border-radius:0px 5px 5px 0px;
  -moz-border-radius:0px 5px 5px 0px;
  -o-border-radius:0px 5px 5px 0px;
  overflow:hidden;
}
.shadowb {
  box-shadow:0px 4px 10px 0px #999;
  -webkit-box-shadow:0px 4px 10px 0px #999;
  -moz-box-shadow:0px 4px 10px 0px #999;
  -o-box-shadow:0px 4px 10px 0px #999;
}
.shadowbi {
  box-shadow:inset 0px -3px 2px 0px #999;
  -webkit-box-shadow:inset 0px -3px 2px 0px #999;
  -moz-box-shadow:inset 0px -3px 2px 0px #999;
  -o-box-shadow:inset 0px -3px 2px 0px #999;
}
.shadowW20 {
  box-shadow:0px 0px 20px #fff;
  -webkit-box-shadow:0px 0px 20px #fff;
  -moz-box-shadow:0px 0px 20px #fff;
  -o-box-shadow:0px 0px 20px #fff;
}
.shadowW30 {
  box-shadow:0px 0px 30px #fff;
  -webkit-box-shadow:0px 0px 30px #fff;
  -moz-box-shadow:0px 0px 30px #fff;
  -o-box-shadow:0px 0px 30px #fff;
}
.block-inner {
  padding:10px;
}
.ml19 {
  margin-left:19px;
}
.m10 {
  margin:10px;
}
.ml5 {
  margin-left:5px;
}
.ml10 {
  margin-left:10px;
}
.ml20 {
  margin-left:20px;
}
.ml25 {
  margin-left:25px;
}
.ml30 {
  margin-left:30px;
}
.ml35 {
  margin-left:35px;
}
.ml40 {
  margin-left:40px;
}
.ml47 {
  margin-left:47px;
}
.ml50 {
  margin-left:50px;
}
.ml60 {
  margin-left:60px;
}
.ml70 {
  margin-left:70px;
}
.mr5 {
  margin-right:5px;
}
.mr10 {
  margin-right:10px;
}
.mr20 {
  margin-right:20px;
}
.mr30 {
  margin-right:30px;
}
.mr40 {
  margin-right:40px;
}
.mr50 {
  margin-right:50px;
}
.mr60 {
  margin-right:60px;
}
.mr70 {
  margin-right:70px;
}
.mt5 {
  margin-top:5px;
}
.mt10 {
  margin-top:10px;
}
.mt20 {
  margin-top:20px;
}
.mt30 {
  margin-top:30px;
}
.mt40 {
  margin-top:40px;
}
.mt50 {
  margin-top:50px;
}
.mt60 {
  margin-top:60px;
}
.mt70 {
  margin-top:70px;
}
.pt10 {
  padding-top:10px;
}
.pt20 {
  padding-top:20px;
}
.pt30 {
  padding-top:30px;
}
.pt40 {
  padding-top:40px;
}
.pt50 {
  padding-top:50px;
}
.pt60 {
  padding-top:60px;
}
.pt70 {
  padding-top:70px;
}
.pl10 {
  padding-left:10px;
}
.pl20 {
  padding-left:20px;
}
.pl30 {
  padding-left:30px;
}
.pl40 {
  padding-left:40px;
}
.pl50 {
  padding-left:50px;
}
.pl60 {
  padding-left:60px;
}
.pl70 {
  padding-left:70px;
}
.pr10 {
  padding-right:10px;
}
.pr20 {
  padding-right:20px;
}
.pr30 {
  padding-right:30px;
}
.pr40 {
  padding-right:40px;
}
.pr50 {
  padding-right:50px;
}
.pr60 {
  padding-right:60px;
}
.pr70 {
  padding-right:70px;
}
.pb10 {
  padding-bottom:10px;
}
.pb20 {
  padding-bottom:20px;
}
.pb30 {
  padding-bottom:30px;
}
.pb40 {
  padding-bottom:40px;
}
.pb50 {
  padding-bottom:50px;
}
.pb60 {
  padding-bottom:60px;
}
.pb70 {
  padding-bottom:70px;
}
.mb5 {
  margin-bottom:5px;
}
.mb10 {
  margin-bottom:10px;
}
.mb20 {
  margin-bottom:20px;
}
.mb30 {
  margin-bottom:30px;
}
.mb40 {
  margin-bottom:40px;
}
.mb50 {
  margin-bottom:50px;
}
.mb60 {
  margin-bottom:50px;
}
.mb70 {
  margin-bottom:70px;
}
.tl {
  text-align:left;
}
.tr {
  text-align:right;
}
.tc {
  text-align:center;
}
.tj {
  text-align:justify;
}
.w960c {
  margin:0 auto;
  width:960px;
}
.w80pc {
  margin-left:auto;
  margin-right:auto;
  width:80%;
}
.w85pc {
  margin-left:auto;
  margin-right:auto;
  width:85%;
}
.w69pc {
  margin-left:auto;
  margin-right:auto;
  width:69%;
}
.wrapper {
  position:relative;
}
.abottom {
  position:absolute;
  bottom:0;
}
.atop {
  position:absolute;
  top:0;
}
.aleft {
  position:absolute;
  left:0;
}
.amiddle {
  position:absolute;
  left:34.5%;
}
.aright {
  position:absolute;
  right:0;
}
.fbottom {
  position:fixed;
  bottom:0;
}
.ftop {
  position:fixed;
  top:0;
}
.fleft {
  position:fixed;
  left:0;
}
.fright {
  position:fixed;
  right:0;
}
.uppercase,
.uppercase a {
  text-transform:uppercase;
}
.bgfff {
  background-color:#fff;
}
.bg000 {
  background-color:#000;
}
.bgccc {
  background-color:#ccc;
}
.using-sprite {
  background-image:url(../images/sprite.png);
  background-repeat:no-repeat;
}
.hidden {
  display:none;
}
.aboveall {
  z-index:9999;
}