<!--  Route Planner App -->
<!DOCTYPE html>
<html ng-app="localizeApp" ng-cloak ng-controller="RoutePlannerCtrl">
<head>
	<title>תכנון מסלול</title> <!-- {{'_Title_' | i18n}} -->
	<meta charset="utf-8">
	<!-- link href="css/bootstrap-combined.min.css" type="text/css" rel="stylesheet" / -->
	<link href="css/bootstrap.min.css" type="text/css" rel="stylesheet" />
	<link href="css/bootstrap-theme.min.css" type="text/css" rel="stylesheet" />
	<link href="css/usable.min.css" type="text/css" rel="stylesheet" />
	<link href="css/route-planner-widget.css" type="text/css" rel="stylesheet" />
	<link href="js/bootstrap-select/bootstrap-select.min.css" type="text/css" rel="stylesheet" />
</head>
<body>
	<div id="page" class="dblock {{ui.default_language}}"> <!-- page -->
		<section id="main" class="flw100 dblock">

			<div id="route-planner" class="wrapper flw100 dblock">
f
				<div class="flw100 dblock atop">
					<div id="map-canvas"></div>
				</div>

				<div id="controls" ng-hide="mapapi.routes" class="panel panel-primary frw30 aright atop dblock mt40 mr5 rounded">

					<div class="panel-heading frw100 dblock">
						<h3 class="panel-title">
							<img src="img/direction_board.png" />
							{{'_Title_' | i18n}}
						</h3>
					</div>

					<div class="panel-body">

						<div id="travelmode-control" class="frw100 dblock mt20 mb10">
							<strong>
								<span class="flw100 iblock">
									{{'_TravelModeLabel_' | i18n}}
								</span>
							</strong>
							<select id="travelmode" class="selectpicker show-menu-arrow">
								<option ng-repeat="travel in ui.travelmode" value="{{travel.inmap}}">
									{{travel.mode}}
								</option>
							</select>
						</div>

						<div id="transit-vehicles" class="flw100 dblock mt10 mb10 hidden">
							<strong><span class="flw100 iblock">{{'_TransportationLabel_' | i18n}}</span></strong>
							<label ng-repeat="vehicle in vehicle_types" class="{{vehicle.name}}">
								<img src="{{vehicle.image}}" alt="{{vehicle.alt}}" title="{{vehicle.alt}}" />
								<input type="checkbox" ng-model="vehicle.value" />
							</label>
						</div>

						<div id="route-finder" class="flw100 dblock">
							<div id="direction-fields" class="flw80 dblock">
								<div class="mt5 mb5 wrapper">
									<img src="img/origin-icon.png" class="origin-icon atop" alt="origin" />
									<input id="origin" type="text" placeholder="{{'_OriginLabel_' | i18n}}" value="" class="form-control" />
								</div>

								<div class="wrapper">
									<img src="img/destination-icon.png" class="origin-icon atop" alt="destination" />
									<input id="destination" type="text" placeholder="{{'_DestinationLabel_' | i18n}}" value="" class="form-control" />
								</div>
							</div>
							<div id="direction-switcher" class="frw20 mt20">
								<div class="flw100 dblock">
									<ul id="reverse-menu">
										<li><a href="javascript:;" id="up">&#9650;</a></li>
										<li><a href="javascript:;" id="down">&#9660;</a></li>
									</ul>
								</div>
							</div>

							<div class="flw100 dblock mb10 mt10">
								<label>{{'_DepartureLabel_' | i18n}}</label>
								<input type="datetime-local" id="departure" class="form-control">
							</div>
							<div class="flw100 dblock">
								<input type="button" id="find-route" value="{{'_SearchLabel_' | i18n}}" ng-click="findRoute(true)" class="btn btn-lg btn-primary" />
								<input type="button" id="clear-route" value="{{'_ClearLabel_' | i18n}}" ng-click="clearRoute()" class="btn btn-primary btn-lg" />
							</div>
						</div>

						<fieldset collapsible="true" ng-show="ui.previous_searches" id="previous-searches" class="flw100 dblock mt10">
							<legend>
								<img src="img/recent-search.png" style="width:20px;" alt="recent-search" />
								{{'_RecentSearchesLabel_' | i18n}}
							</legend>
							<div class="recent-list">
								<div class="content flw100 dblock mt10 mb10 ps-items list-group">
									<div ng-repeat="searches in ui.previous_searches" class="list-group-item flw100 dblock ps-item">
										<div class="flw100 dblock">
											<strong>{{'_OriginLabel_' | i18n}}:</strong> <span class="origin-data">{{searches.origin}}</span></div>
										<div class="flw100 dblock">
											<strong>{{'_DestinationLabel_' | i18n}}:</strong> <span class="destination-data">{{searches.destination}}</span></div>
										<div class="flw100 dblock">
											<strong>{{'_ViaLabel_' | i18n}}:</strong> <span class="via-data">{{searches.via}}</span>
										</div>
									</div>
								</div>
							</div>
						</fieldset> <!-- previous searches -->

						<fieldset collapsible="true" class="flw100 dblock mt10">
							<legend>
								<img src="img/settings.png" style="width:20px;" /> 
								{{'_SettingsLabel_' | i18n}}
							</legend>
							<div id="settings" class="content flw100 dblock">
								<label class="iblock flw100">
									{{'_LanguageLabel_' | i18n}}
								</label>
								<select id="default-language" ng-model="ui.default_language" class="selectpicker show-menu-arrow">
									<option value="he">Hebrew</option>
									<option value="en">English</option>
									<option value="tl">Tagalog</option>
								</select>
								
								<label class="iblock flw100">
									{{'_DefaultPlace_' | i18n}}
								</label>
								<input type="text" id="default-place" ng-model="ui.default_place" class="form-control" />
								
								<input type="button" class="btn btn-primary btn-lg btn-block mt10" value="{{'_SaveSettings_' | i18n}}" ng-click="saveSettings()" />
							</div>
						</fieldset>

					</div>

				</div> <!-- #controls -->

				<div id="routes-results" ng-init="attachLegendSlide()" ng-show="mapapi.routes" class="panel panel-primary frw30 aright atop dblock mt10 mr10 rounded">

					<div class="panel-heading frw100 dblock">
						<h3 class="panel-title">
							<img src="img/direction_board.png" />
							{{'_RoutesResultLabel_' | i18n}}
						</h3>
					</div>

					<div id="results-body" class="panel-body">
							<input type="button" class="btn btn-primary btn-lg btn-block mt10 wrapper" value="{{'_SearchNewLabel_' | i18n}}" ng-click="searchNew()" />

							<div class="alert alert-success flw100 dblock mt10 mb10" ng-show="mapapi.steps">
								<strong ng-show="mapapi.legs.start_address">
									<img src="img/origin-icon.png" class="origin-icon" />
									{{'_OriginLabel_' | i18n}}: {{mapapi.origin_data}}
								</strong>
							</div>

							<div class="cycle-slider"><div class="view-content flw100 dblock">
								<div ng-repeat="route in mapapi.routes" ng-click="renderSuggestion(route, $index)" class="panel panel-default flw100 dblock steps" id="fieldset{{$index}}">
									<div class="panel-heading">
										<a id="{{$index}}">
											<img src="img/direction_board.png" />
											<strong>
												{{'_RouteSuggestionLabel_' | i18n}} #{{$index + 1}}
											</strong>
										</a>
									</div>

									<div class="content panel-body">
										<strong>
											<span ng-show="route.summary" class="summary-label mb10 dblock">
												Via {{route.summary}}
											</span>
										</strong>
										
										
										<span class="dblock mb10">
											<strong>
												<img src="img/clock.png" style="width:20px;" />
												{{'_DepartureTimeLabel_' | i18n}}: {{route.legs[0].departure_time.text}}
											</strong>
										</span>
										<span class="dblock mb10">
											<strong>
												<img src="img/clock.png" style="width:20px;" />
												{{'_TravelTimeLabel_' | i18n}}: {{route.legs[0].duration.text}}
											</strong>
										</span>
										

										<div ng-repeat="step in route.legs[0].steps" class="{{step.transit.line.vehicle.name}}">
											<div class="flw100 dblock">
												<strong ng-hide="{{step.transit.line.name}}">
													{{step.transit.line.name}}
												</strong>
												<span ng-bind-html-unsafe="step.instructions"></span>
												<span class="flw100 iblock mb10" style="font-style:italic; color:#666;">
													<ul style="list-style:none;">
														<li>
															<span ng-bind-html-unsafe="step.duration.text"></span>
														</li>
														<li>
															<span ng-bind-html-unsafe="step.distance.text"></span>
														</li>
													</ul>
												</span>
											</div>
										</div>
											
									</div>
								</div>
							</div></div>

							<div class="alert alert-success flw100 dblock mt10 mb10" ng-show="mapapi.steps">
								<strong ng-show="mapapi.legs.end_address">
									<img src="img/destination-icon.png" class="destination-icon" />
									{{'_DestinationLabel_' | i18n}}: {{mapapi.destination_data}}
								</strong>
							</div>

						<input type="button" class="btn btn-primary btn-lg btn-block" value="{{'_SearchNewLabel_' | i18n}}" ng-click="searchNew()" />

					</div>

				</div> <!-- #routes results -->
			</div>
			<div id="messages1" class="hidden flw100 dblock">{{'_Messages1_' | i18n}}</div>
			<div id="messages2" class="hidden flw100 dblock">{{'_Messages2_' | i18n}}</div>
		</section> <!-- #main -->
	</div>
	<footer id="footer" class="flw100 dblock tc"></footer>

	<!-- load scripts from the bottom -->
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/bootbox.min.js"></script>
	<script type="text/javascript" src="js/bootstrap-select/bootstrap-select.min.js"></script>
	<script type="text/javascript" src="js/route-planner-widget.js"></script>
	<script type="text/javascript" src="js/localize.js"></script>
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
</body>
</html>